[Desktop Entry]
Version=1.0
Type=Application

Name=Conky Mover
Name[ar]=ناقل Conky
Name[ast]=Mover Conky
Name[bn]=Conky সরানোর সরঞ্জাম
Name[ca]=Mou Conky
Name[cs]=Přesun Conky
Name[da]=Conky-flytning
Name[el]=Μετακίνηση Conky
Name[es]=Mover Conky
Name[et]=Conky liigutaja
Name[fa]=جابه‌جایی Conky
Name[fi]=Conkyn siirtäjä
Name[fr]=Déplacer Conky
Name[gl]=Mover Conky
Name[he]=הזזת Conky
Name[hr]=Premještanje Conkyja
Name[hu]=Conky-áthelyező
Name[it]=Sposta Conky
Name[ja]=Conky の移動
Name[ko]=Conky 이동
Name[ku]=Guhastina Conky
Name[lt]=„Conky“ perkėlimas
Name[nb]=Flytt Conky
Name[nl]=Conky verplaatsen
Name[nn]=Flytt Conky
Name[no]=Flytt Conky
Name[pl]=Przenoszenie Conky
Name[pt]=Mover o Conky
Name[pt_BR]=Mover o Conky
Name[ro]=Mutare Conky
Name[ru]=Перемещение Conky
Name[sk]=Presunutie Conky
Name[sl]=Premikanje Conky
Name[sv]=Flytta Conky
Name[tr]=Conky Taşıyıcı
Name[ug]=Conky نى يۆتكەش
Name[uk]=Переміщення Conky
Name[vi]=Di chuyển Conky
Name[zh_CN]=移动 Conky
Name[zh_TW]=移動 Conky

GenericName=Conky Position Tool
GenericName[ar]=أداة تحديد موضع Conky
GenericName[ast]=Ferramienta de posición de Conky
GenericName[bn]=Conky অবস্থান নির্ধারণের সরঞ্জাম
GenericName[ca]=Eina de posicionament de Conky
GenericName[cs]=Nástroj pro umístění Conky
GenericName[da]=Værktøj til placering af Conky
GenericName[el]=Εργαλείο τοποθέτησης Conky
GenericName[es]=Herramienta de posicionamiento de Conky
GenericName[et]=Conky asukoha tööriist
GenericName[fa]=ابزار تعیین موقعیت Conky
GenericName[fi]=Conkyn sijoittelutyökalu
GenericName[fr]=Outil de positionnement de Conky
GenericName[gl]=Ferramenta de posicionamento de Conky
GenericName[he]=כלי למיקום Conky
GenericName[hr]=Alat za pozicioniranje Conkyja
GenericName[hu]=Conky-pozicionáló eszköz
GenericName[it]=Strumento di posizionamento di Conky
GenericName[ja]=Conky の位置設定ツール
GenericName[ko]=Conky 위치 설정 도구
GenericName[ku]=Amûra cihkirina Conky
GenericName[lt]=„Conky“ padėties nustatymo įrankis
GenericName[nb]=Verktøy for plassering av Conky
GenericName[nl]=Conky-positioneringshulpmiddel
GenericName[nn]=Verktøy for plassering av Conky
GenericName[no]=Verktøy for plassering av Conky
GenericName[pl]=Narzędzie do pozycjonowania Conky
GenericName[pt]=Ferramenta de posicionamento do Conky
GenericName[pt_BR]=Ferramenta de posicionamento do Conky
GenericName[ro]=Instrument de poziționare Conky
GenericName[ru]=Инструмент позиционирования Conky
GenericName[sk]=Nástroj na umiestnenie Conky
GenericName[sl]=Orodje za določanje položaja Conky
GenericName[sv]=Verktyg för placering av Conky
GenericName[tr]=Conky Konumlandırma Aracı
GenericName[ug]=Conky ئورنىنى بەلگىلەش قورالى
GenericName[uk]=Інструмент позиціювання Conky
GenericName[vi]=Công cụ định vị Conky
GenericName[zh_CN]=Conky 位置调整工具
GenericName[zh_TW]=Conky 位置調整工具

Comment=Move a conky to a new position on the desktop.
Comment[ar]=انقل عنصر Conky إلى موضع جديد على سطح المكتب.
Comment[ast]=Mueve un Conky a una posición nueva nel escritoriu.
Comment[bn]=ডেস্কটপে একটি Conky-কে নতুন অবস্থানে সরান।
Comment[ca]=Mou un Conky a una nova posició de l'escriptori.
Comment[cs]=Přesuňte Conky na nové místo na ploše.
Comment[da]=Flyt en Conky til en ny position på skrivebordet.
Comment[de]=Verschieben Sie ein Conky an eine neue Position auf dem Desktop.
Comment[el]=Μετακινήστε ένα Conky σε νέα θέση στην επιφάνεια εργασίας.
Comment[es]=Mueve un Conky a una nueva posición en el escritorio.
Comment[et]=Liiguta Conky töölaual uude asukohta.
Comment[fa]=یک Conky را به موقعیتی جدید روی دسکتاپ منتقل کنید.
Comment[fi]=Siirrä Conky uuteen paikkaan työpöydällä.
Comment[fr]=Déplacer un Conky vers une nouvelle position sur le bureau.
Comment[gl]=Move un Conky a unha nova posición no escritorio.
Comment[he]=העברת Conky למיקום חדש בשולחן העבודה.
Comment[hr]=Premjestite Conky na novi položaj na radnoj površini.
Comment[hu]=Conky áthelyezése az asztal egy új pozíciójába.
Comment[it]=Sposta un Conky in una nuova posizione sul desktop.
Comment[ja]=Conky をデスクトップ上の新しい位置に移動します。
Comment[ko]=Conky를 바탕 화면의 새 위치로 이동합니다.
Comment[ku]=Conky-yekê li ser sermaseyê biguhezîne cihekî nû.
Comment[lt]=Perkelkite „Conky“ į naują vietą darbalaukyje.
Comment[nb]=Flytt en Conky til en ny plassering på skrivebordet.
Comment[nl]=Verplaats een Conky naar een nieuwe positie op het bureaublad.
Comment[nn]=Flytt ein Conky til ein ny posisjon på skrivebordet.
Comment[no]=Flytt en Conky til en ny plassering på skrivebordet.
Comment[pl]=Przenieś Conky w nowe miejsce na pulpicie.
Comment[pt]=Move um Conky para uma nova posição no ambiente de trabalho.
Comment[pt_BR]=Mova um Conky para uma nova posição na área de trabalho.
Comment[ro]=Mută un Conky într-o nouă poziție pe desktop.
Comment[ru]=Переместить Conky в новое место на рабочем столе.
Comment[sk]=Presuňte Conky na nové miesto na pracovnej ploche.
Comment[sl]=Premaknite Conky na novo mesto na namizju.
Comment[sv]=Flytta en Conky till en ny position på skrivbordet.
Comment[tr]=Bir Conky öğesini masaüstünde yeni bir konuma taşıyın.
Comment[ug]=Conky نى ئۈستەلئۈستىدىكى يېڭى ئورۇنغا يۆتكەڭ.
Comment[uk]=Перемістити Conky в нове місце на робочому столі.
Comment[vi]=Di chuyển Conky đến vị trí mới trên màn hình nền.
Comment[zh_CN]=将 Conky 移动到桌面上的新位置。
Comment[zh_TW]=將 Conky 移動到桌面上的新位置。

Exec=bl-conkymove
Icon=bunsenlabs
Categories=Settings;DesktopSettings;

Terminal=false
StartupNotify=false

Keywords=conky;settings;configurations;themes;position;move;desktop;
Keywords[ar]=Conky;إعدادات;تهيئة;سمات;موضع;نقل;سطح المكتب;
Keywords[ast]=Conky;configuración;axustes;temes;posición;mover;escritoriu;
Keywords[ca]=Conky;configuració;paràmetres;temes;posició;moure;escriptori;
Keywords[cs]=Conky;nastavení;konfigurace;motivy;pozice;přesunout;plocha;
Keywords[da]=Conky;indstillinger;konfiguration;temaer;position;flyt;skrivebord;
Keywords[de]=Conky;Einstellungen;Konfiguration;Designs;Position;verschieben;Desktop;
Keywords[el]=Conky;ρυθμίσεις;διαμόρφωση;θέματα;θέση;μετακίνηση;επιφάνεια εργασίας;
Keywords[es]=Conky;ajustes;configuración;temas;posición;mover;escritorio;
Keywords[fi]=Conky;asetukset;määritykset;teemat;sijainti;siirto;työpöytä;
Keywords[fr]=Conky;paramètres;configuration;thèmes;position;déplacer;bureau;
Keywords[he]=Conky;הגדרות;תצורה;ערכות נושא;מיקום;הזזה;שולחן עבודה;
Keywords[hr]=Conky;postavke;konfiguracija;teme;položaj;premještanje;radna površina;
Keywords[hu]=Conky;beállítások;konfiguráció;téma;pozíció;áthelyezés;asztal;
Keywords[it]=Conky;impostazioni;configurazione;temi;posizione;spostamento;desktop;
Keywords[is]=Conky;stillingar;uppsetning;þemu;staðsetning;færa;skjáborð;
Keywords[ja]=Conky;設定;構成;テーマ;位置;移動;デスクトップ;
Keywords[nb]=Conky;innstillinger;konfigurasjon;temaer;posisjon;flytt;skrivebord;
Keywords[nl]=Conky;instellingen;configuratie;thema's;positie;verplaatsen;bureaublad;
Keywords[pt]=Conky;definições;configuração;temas;posição;mover;ambiente de trabalho;
Keywords[pt_BR]=Conky;configurações;configuração;temas;posição;mover;área de trabalho;
Keywords[ru]=Conky;настройки;конфигурация;темы;позиция;перемещение;рабочий стол;
Keywords[sk]=Conky;nastavenia;konfigurácia;témy;pozícia;presunúť;pracovná plocha;
Keywords[sl]=Conky;nastavitve;konfiguracija;teme;položaj;premik;namizje;
Keywords[tr]=Conky;ayarlar;yapılandırma;temalar;konum;taşıma;masaüstü;
Keywords[uk]=Conky;налаштування;конфігурація;теми;позиція;переміщення;робочий стіл;
Keywords[vi]=Conky;cài đặt;cấu hình;chủ đề;vị trí;di chuyển;màn hình nền;
Keywords[zh_CN]=Conky;设置;配置;主题;位置;移动;桌面;
Keywords[zh_TW]=Conky;設定;組態;佈景主題;位置;移動;桌面;

