[Desktop Entry]
Version=1.0
Type=Application

Name=Conky Manager
Name[ar]=مدير Conky
Name[ast]=Xestor de Conky
Name[bn]=Conky ব্যবস্থাপক
Name[ca]=Gestor de Conky
Name[cs]=Správce Conky
Name[da]=Conky-håndtering
Name[el]=Διαχειριστής Conky
Name[es]=Administrador de Conky
Name[et]=Conky haldur
Name[fa]=مدیر Conky
Name[fi]=Conky-hallinta
Name[fr]=Gestionnaire Conky
Name[gl]=Xestor de Conky
Name[he]=מנהל Conky
Name[hr]=Upravitelj Conkyja
Name[hu]=Conky-kezelő
Name[it]=Gestore di Conky
Name[ja]=Conky マネージャー
Name[ko]=Conky 관리자
Name[ku]=Rêveberê Conky
Name[lt]=„Conky“ tvarkyklė
Name[nb]=Conky-behandler
Name[nl]=Conky-beheerder
Name[nn]=Conky-handsamar
Name[no]=Conky-behandler
Name[pl]=Menedżer Conky
Name[pt]=Gestor do Conky
Name[pt_BR]=Gerenciador do Conky
Name[ro]=Manager Conky
Name[ru]=Менеджер Conky
Name[sk]=Správca Conky
Name[sl]=Upravljalnik Conky
Name[sv]=Conky-hanterare
Name[tr]=Conky Yöneticisi
Name[ug]=Conky باشقۇرغۇچ
Name[uk]=Менеджер Conky
Name[vi]=Trình quản lý Conky
Name[zh_CN]=Conky 管理器
Name[zh_TW]=Conky 管理器

GenericName=Conky Session Manager
GenericName[ar]=مدير جلسات Conky
GenericName[ast]=Xestor de sesiones de Conky
GenericName[bn]=Conky সেশন ব্যবস্থাপক
GenericName[ca]=Gestor de sessions de Conky
GenericName[cs]=Správce relací Conky
GenericName[da]=Conky-sessionshåndtering
GenericName[el]=Διαχειριστής συνεδριών Conky
GenericName[es]=Gestor de sesiones de Conky
GenericName[et]=Conky seansihaldur
GenericName[fa]=مدیر نشست‌های Conky
GenericName[fi]=Conky-istuntojen hallinta
GenericName[fr]=Gestionnaire de sessions Conky
GenericName[gl]=Xestor de sesións de Conky
GenericName[he]=מנהל הפעלות Conky
GenericName[hr]=Upravitelj Conky sesija
GenericName[hu]=Conky-munkamenet-kezelő
GenericName[it]=Gestore delle sessioni di Conky
GenericName[ja]=Conky セッションマネージャー
GenericName[ko]=Conky 세션 관리자
GenericName[ku]=Rêveberê danişînên Conky
GenericName[lt]=„Conky“ seansų tvarkyklė
GenericName[nb]=Conky-øktbehandler
GenericName[nl]=Conky-sessiebeheerder
GenericName[nn]=Conky-øykthandsamar
GenericName[no]=Conky-øktbehandler
GenericName[pl]=Menedżer sesji Conky
GenericName[pt]=Gestor de sessões do Conky
GenericName[pt_BR]=Gerenciador de sessões do Conky
GenericName[ro]=Manager de sesiuni Conky
GenericName[ru]=Менеджер сеансов Conky
GenericName[sk]=Správca relácií Conky
GenericName[sl]=Upravljalnik sej Conky
GenericName[sv]=Conky-sessionshanterare
GenericName[tr]=Conky Oturum Yöneticisi
GenericName[ug]=Conky ئەڭگىمە باشقۇرغۇچ
GenericName[uk]=Менеджер сеансів Conky
GenericName[vi]=Trình quản lý phiên Conky
GenericName[zh_CN]=Conky 会话管理器
GenericName[zh_TW]=Conky 工作階段管理器

Comment=Choose conkys to run in this session.
Comment[ar]=اختر عناصر Conky التي تريد تشغيلها في هذه الجلسة.
Comment[ast]=Escueyi los Conky que quies executar nesta sesión.
Comment[bn]=এই সেশনে চালানোর জন্য Conky নির্বাচন করুন।
Comment[ca]=Tria els Conky que vols executar en aquesta sessió.
Comment[cs]=Vyberte instance Conky, které se mají spustit v této relaci.
Comment[da]=Vælg de Conky-elementer, der skal køre i denne session.
Comment[de]=Wählen Sie die Conky-Instanzen aus, die in dieser Sitzung ausgeführt werden sollen.
Comment[el]=Επιλέξτε τα Conky που θα εκτελούνται σε αυτήν τη συνεδρία.
Comment[es]=Elige los Conky que se ejecutarán en esta sesión.
Comment[et]=Vali selles seansis käivitatavad Conky eksemplarid.
Comment[fa]=موارد Conky را برای اجرا در این نشست انتخاب کنید.
Comment[fi]=Valitse tässä istunnossa suoritettavat Conky-instanssit.
Comment[fr]=Choisissez les instances Conky à exécuter dans cette session.
Comment[gl]=Escolle os Conky que se executarán nesta sesión.
Comment[he]=בחירת מופעי Conky להפעלה בהפעלה הנוכחית.
Comment[hr]=Odaberite Conky instance koje će se pokrenuti u ovoj sesiji.
Comment[hu]=Válassza ki az ebben a munkamenetben futtatandó Conky-példányokat.
Comment[it]=Scegli quali istanze di Conky eseguire in questa sessione.
Comment[ja]=このセッションで実行する Conky を選択します。
Comment[ko]=이 세션에서 실행할 Conky 인스턴스를 선택합니다.
Comment[ku]=Conky-yên ku di vê danişînê de bên xebitandin hilbijêre.
Comment[lt]=Pasirinkite, kuriuos „Conky“ egzempliorius paleisti šio seanso metu.
Comment[nb]=Velg hvilke Conky-instanser som skal kjøres i denne økten.
Comment[nl]=Kies welke Conky-exemplaren in deze sessie worden gestart.
Comment[nn]=Vel kva for Conky-instansar som skal køyrast i denne økta.
Comment[no]=Velg hvilke Conky-instanser som skal kjøres i denne økten.
Comment[pl]=Wybierz instancje Conky, które mają być uruchomione w tej sesji.
Comment[pt]=Escolha os Conky a executar nesta sessão.
Comment[pt_BR]=Escolha quais instâncias do Conky serão executadas nesta sessão.
Comment[ro]=Alege instanțele Conky care vor rula în această sesiune.
Comment[ru]=Выберите экземпляры Conky для запуска в этом сеансе.
Comment[sk]=Vyberte inštancie Conky, ktoré sa majú spustiť v tejto relácii.
Comment[sl]=Izberite primerke Conky, ki naj se izvajajo v tej seji.
Comment[sv]=Välj vilka Conky-instans­er som ska köras under den här sessionen.
Comment[tr]=Bu oturumda çalıştırılacak Conky örneklerini seçin.
Comment[ug]=بۇ ئەڭگىمەدە ئىجرا قىلىنىدىغان Conky لارنى تاللاڭ.
Comment[uk]=Виберіть екземпляри Conky для запуску в цьому сеансі.
Comment[vi]=Chọn các phiên bản Conky sẽ chạy trong phiên này.
Comment[zh_CN]=选择要在此会话中运行的 Conky 实例。
Comment[zh_TW]=選擇要在此工作階段執行的 Conky 實例。

Exec=bl-conky-manager
Icon=bunsenlabs
Categories=Settings;DesktopSettings;

Terminal=false
StartupNotify=false

Keywords=conky;settings;configurations;themes;
Keywords[ar]=Conky;إعدادات;تهيئة;سمات;
Keywords[ast]=Conky;configuración;axustes;temes;
Keywords[ca]=Conky;configuració;paràmetres;temes;
Keywords[cs]=Conky;nastavení;konfigurace;motivy;
Keywords[da]=Conky;indstillinger;konfiguration;temaer;
Keywords[de]=Conky;Einstellungen;Konfiguration;Designs;
Keywords[el]=Conky;ρυθμίσεις;διαμόρφωση;θέματα;
Keywords[es]=Conky;ajustes;configuración;temas;
Keywords[fi]=Conky;asetukset;määritykset;teemat;
Keywords[fr]=Conky;paramètres;configuration;thèmes;
Keywords[he]=Conky;הגדרות;תצורה;ערכות נושא;
Keywords[hr]=Conky;postavke;konfiguracija;teme;
Keywords[hu]=Conky;beállítások;konfiguráció;téma;
Keywords[it]=Conky;impostazioni;configurazione;temi;
Keywords[is]=Conky;stillingar;uppsetning;þemu;
Keywords[ja]=Conky;設定;構成;テーマ;
Keywords[nb]=Conky;innstillinger;konfigurasjon;temaer;
Keywords[nl]=Conky;instellingen;configuratie;thema's;
Keywords[pt]=Conky;definições;configuração;temas;
Keywords[pt_BR]=Conky;configurações;configuração;temas;
Keywords[ru]=Conky;настройки;конфигурация;темы;
Keywords[sk]=Conky;nastavenia;konfigurácia;témy;
Keywords[sl]=Conky;nastavitve;konfiguracija;teme;
Keywords[tr]=Conky;ayarlar;yapılandırma;temalar;
Keywords[uk]=Conky;налаштування;конфігурація;теми;
Keywords[vi]=Conky;cài đặt;cấu hình;chủ đề;
Keywords[zh_CN]=Conky;设置;配置;主题;
Keywords[zh_TW]=Conky;設定;組態;佈景主題;

