[Desktop Entry]
Version=1.0
Type=Application

Name=Conky Editor
Name[ar]=محرر Conky
Name[ast]=Editor de Conky
Name[bn]=Conky সম্পাদক
Name[ca]=Editor de Conky
Name[cs]=Editor Conky
Name[da]=Conky-editor
Name[el]=Επεξεργαστής Conky
Name[es]=Editor de Conky
Name[et]=Conky redaktor
Name[fa]=ویرایشگر Conky
Name[fi]=Conky-muokkain
Name[fr]=Éditeur Conky
Name[gl]=Editor de Conky
Name[he]=עורך Conky
Name[hr]=Uređivač Conkyja
Name[hu]=Conky-szerkesztő
Name[it]=Editor di Conky
Name[ja]=Conky エディター
Name[ko]=Conky 편집기
Name[ku]=Edîtorê Conky
Name[lt]=„Conky“ redaktorius
Name[nb]=Conky-redigerer
Name[nl]=Conky-editor
Name[nn]=Conky-redigerar
Name[no]=Conky-redigerer
Name[pl]=Edytor Conky
Name[pt]=Editor do Conky
Name[pt_BR]=Editor do Conky
Name[ro]=Editor Conky
Name[ru]=Редактор Conky
Name[sk]=Editor Conky
Name[sl]=Urejevalnik Conky
Name[sv]=Conky-redigerare
Name[tr]=Conky Düzenleyicisi
Name[ug]=Conky تەھرىرلىگۈچ
Name[uk]=Редактор Conky
Name[vi]=Trình chỉnh sửa Conky
Name[zh_CN]=Conky 编辑器
Name[zh_TW]=Conky 編輯器

GenericName=Conky Configuration Editor
GenericName[ar]=محرر إعدادات Conky
GenericName[ast]=Editor de configuración de Conky
GenericName[bn]=Conky কনফিগারেশন সম্পাদক
GenericName[ca]=Editor de configuració de Conky
GenericName[cs]=Editor konfigurace Conky
GenericName[da]=Redigering af Conky-konfiguration
GenericName[el]=Επεξεργαστής ρυθμίσεων Conky
GenericName[es]=Editor de configuración de Conky
GenericName[et]=Conky seadistuste redaktor
GenericName[fa]=ویرایشگر پیکربندی Conky
GenericName[fi]=Conkyn asetusten muokkain
GenericName[fr]=Éditeur de configuration Conky
GenericName[gl]=Editor da configuración de Conky
GenericName[he]=עורך תצורת Conky
GenericName[hr]=Uređivač konfiguracije Conkyja
GenericName[hu]=Conky-beállításszerkesztő
GenericName[it]=Editor della configurazione di Conky
GenericName[ja]=Conky 設定エディター
GenericName[ko]=Conky 설정 편집기
GenericName[ku]=Edîtorê veavakirina Conky
GenericName[lt]=„Conky“ konfigūracijos redaktorius
GenericName[nb]=Redigering av Conky-oppsett
GenericName[nl]=Conky-configuratie-editor
GenericName[nn]=Redigering av Conky-oppsett
GenericName[no]=Redigering av Conky-oppsett
GenericName[pl]=Edytor konfiguracji Conky
GenericName[pt]=Editor de configuração do Conky
GenericName[pt_BR]=Editor de configuração do Conky
GenericName[ro]=Editor de configurare Conky
GenericName[ru]=Редактор конфигурации Conky
GenericName[sk]=Editor konfigurácie Conky
GenericName[sl]=Urejevalnik nastavitev Conky
GenericName[sv]=Conky-konfigurationsredigerare
GenericName[tr]=Conky Yapılandırma Düzenleyicisi
GenericName[ug]=Conky سەپلىمە تەھرىرلىگۈچ
GenericName[uk]=Редактор конфігурації Conky
GenericName[vi]=Trình chỉnh sửa cấu hình Conky
GenericName[zh_CN]=Conky 配置编辑器
GenericName[zh_TW]=Conky 設定編輯器

Comment=Edit selected conky config files.
Comment[ar]=تحرير ملفات إعدادات Conky المحددة.
Comment[ast]=Editar los ficheros de configuración de Conky seleccionaos.
Comment[bn]=নির্বাচিত Conky কনফিগারেশন ফাইল সম্পাদনা করুন।
Comment[ca]=Edita els fitxers de configuració de Conky seleccionats.
Comment[cs]=Upravte vybrané konfigurační soubory Conky.
Comment[da]=Rediger de valgte Conky-konfigurationsfiler.
Comment[de]=Ausgewählte Conky-Konfigurationsdateien bearbeiten.
Comment[el]=Επεξεργαστείτε τα επιλεγμένα αρχεία ρυθμίσεων του Conky.
Comment[es]=Edita los archivos de configuración de Conky seleccionados.
Comment[et]=Muuda valitud Conky seadistusfaile.
Comment[fa]=فایل‌های پیکربندی انتخاب‌شدهٔ Conky را ویرایش کنید.
Comment[fi]=Muokkaa valittuja Conky-asetustiedostoja.
Comment[fr]=Modifier les fichiers de configuration Conky sélectionnés.
Comment[gl]=Edita os ficheiros de configuración de Conky seleccionados.
Comment[he]=עריכת קובצי התצורה הנבחרים של Conky.
Comment[hr]=Uredi odabrane Conky konfiguracijske datoteke.
Comment[hu]=A kiválasztott Conky-konfigurációs fájlok szerkesztése.
Comment[it]=Modifica i file di configurazione di Conky selezionati.
Comment[ja]=選択した Conky 設定ファイルを編集します。
Comment[ko]=선택한 Conky 설정 파일을 편집합니다.
Comment[ku]=Pelên veavakirina Conky yên hilbijartî sererast bike.
Comment[lt]=Redaguokite pasirinktus „Conky“ konfigūracijos failus.
Comment[nb]=Rediger valgte Conky-konfigurasjonsfiler.
Comment[nl]=Bewerk de geselecteerde Conky-configuratiebestanden.
Comment[nn]=Rediger dei valde Conky-oppsettfilene.
Comment[no]=Rediger valgte Conky-konfigurasjonsfiler.
Comment[pl]=Edytuj wybrane pliki konfiguracyjne Conky.
Comment[pt]=Editar os ficheiros de configuração do Conky selecionados.
Comment[pt_BR]=Edite os arquivos de configuração do Conky selecionados.
Comment[ro]=Editează fișierele de configurare Conky selectate.
Comment[ru]=Редактирование выбранных файлов конфигурации Conky.
Comment[sk]=Upravte vybrané konfiguračné súbory Conky.
Comment[sl]=Urejanje izbranih konfiguracijskih datotek Conky.
Comment[sv]=Redigera valda Conky-konfigurationsfiler.
Comment[tr]=Seçilen Conky yapılandırma dosyalarını düzenleyin.
Comment[ug]=تاللانغان Conky سەپلىمە ھۆججەتلىرىنى تەھرىرلەڭ.
Comment[uk]=Редагування вибраних файлів конфігурації Conky.
Comment[vi]=Chỉnh sửa các tệp cấu hình Conky đã chọn.
Comment[zh_CN]=编辑选定的 Conky 配置文件。
Comment[zh_TW]=編輯選取的 Conky 設定檔。

Exec=bl-conky-edit
Icon=bunsenlabs
Categories=Settings;DesktopSettings;

Terminal=false
StartupNotify=false

Keywords=conky;settings;configurations;themes;
Keywords[ar]=Conky;إعدادات;تهيئة;سمات;
Keywords[ast]=Conky;configuración;axustes;temes;
Keywords[ca]=Conky;configuració;paràmetres;temes;
Keywords[cs]=Conky;nastavení;konfigurace;motivy;
Keywords[da]=Conky;indstillinger;konfiguration;temaer;
Keywords[de]=Conky;Einstellungen;Konfiguration;Designs;
Keywords[el]=Conky;ρυθμίσεις;διαμόρφωση;θέματα;
Keywords[es]=Conky;ajustes;configuración;temas;
Keywords[fi]=Conky;asetukset;määritykset;teemat;
Keywords[fr]=Conky;paramètres;configuration;thèmes;
Keywords[he]=Conky;הגדרות;תצורה;ערכות נושא;
Keywords[hr]=Conky;postavke;konfiguracija;teme;
Keywords[hu]=Conky;beállítások;konfiguráció;téma;
Keywords[it]=Conky;impostazioni;configurazione;temi;
Keywords[is]=Conky;stillingar;uppsetning;þemu;
Keywords[ja]=Conky;設定;構成;テーマ;
Keywords[nb]=Conky;innstillinger;konfigurasjon;temaer;
Keywords[nl]=Conky;instellingen;configuratie;thema's;
Keywords[pt]=Conky;definições;configuração;temas;
Keywords[pt_BR]=Conky;configurações;configuração;temas;
Keywords[ru]=Conky;настройки;конфигурация;темы;
Keywords[sk]=Conky;nastavenia;konfigurácia;témy;
Keywords[sl]=Conky;nastavitve;konfiguracija;teme;
Keywords[tr]=Conky;ayarlar;yapılandırma;temalar;
Keywords[uk]=Conky;налаштування;конфігурація;теми;
Keywords[vi]=Conky;cài đặt;cấu hình;chủ đề;
Keywords[zh_CN]=Conky;设置;配置;主题;
Keywords[zh_TW]=Conky;設定;組態;佈景主題;

