[Desktop Entry]
Version=1.0
Type=Application

Name=Tint2 Manager
Name[ar]=مدير Tint2
Name[ast]=Xestor de Tint2
Name[bn]=Tint2 ব্যবস্থাপক
Name[ca]=Gestor del Tint2
Name[cs]=Správce Tint2
Name[da]=Tint2-håndtering
Name[el]=Διαχειριστής Tint2
Name[es]=Gestor de Tint2
Name[et]=Tint2 haldur
Name[fa]=مدیر Tint2
Name[fi]=Tint2-hallinta
Name[fr]=Gestionnaire de Tint2
Name[gl]=Xestor de Tint2
Name[he]=מנהל Tint2
Name[hr]=Upravitelj Tint2
Name[hu]=Tint2-kezelő
Name[it]=Gestore di Tint2
Name[ja]=Tint2 マネージャー
Name[ko]=Tint2 관리자
Name[ku]=Rêveberê Tint2
Name[lt]=Tint2 tvarkytuvė
Name[nb]=Tint2-behandler
Name[nl]=Tint2-beheerder
Name[nn]=Tint2-handtering
Name[no]=Tint2-behandler
Name[pl]=Menedżer Tint2
Name[pt]=Gestor do Tint2
Name[pt_BR]=Gerenciador do Tint2
Name[ro]=Administrator Tint2
Name[ru]=Менеджер Tint2
Name[sk]=Správca Tint2
Name[sl]=Upravljalnik Tint2
Name[sv]=Tint2-hanterare
Name[tr]=Tint2 Yöneticisi
Name[ug]=Tint2 باشقۇرغۇچ
Name[uk]=Менеджер Tint2
Name[vi]=Trình quản lý Tint2
Name[zh_CN]=Tint2 管理器
Name[zh_TW]=Tint2 管理員

GenericName=Tint2 Panel Manager
GenericName[ar]=مدير لوحات Tint2
GenericName[ast]=Xestor de paneles Tint2
GenericName[bn]=Tint2 প্যানেল ব্যবস্থাপক
GenericName[ca]=Gestor de plafons del Tint2
GenericName[cs]=Správce panelů Tint2
GenericName[da]=Tint2-panelhåndtering
GenericName[el]=Διαχειριστής πάνελ Tint2
GenericName[es]=Gestor de paneles de Tint2
GenericName[et]=Tint2 paneelihaldur
GenericName[fa]=مدیر پنل‌های Tint2
GenericName[fi]=Tint2-paneelien hallinta
GenericName[fr]=Gestionnaire de panneaux Tint2
GenericName[gl]=Xestor de paneis Tint2
GenericName[he]=מנהל הלוחות של Tint2
GenericName[hr]=Upravitelj Tint2 panela
GenericName[hu]=Tint2 panelkezelő
GenericName[it]=Gestore dei pannelli Tint2
GenericName[ja]=Tint2 パネル管理
GenericName[ko]=Tint2 패널 관리자
GenericName[ku]=Rêveberê panelên Tint2
GenericName[lt]=Tint2 skydelių tvarkytuvė
GenericName[nb]=Tint2-panelbehandler
GenericName[nl]=Tint2-paneelbeheer
GenericName[nn]=Tint2-panelhandtering
GenericName[no]=Tint2-panelbehandler
GenericName[pl]=Menedżer paneli Tint2
GenericName[pt]=Gestor de painéis do Tint2
GenericName[pt_BR]=Gerenciador de painéis do Tint2
GenericName[ro]=Administrator de panouri Tint2
GenericName[ru]=Менеджер панелей Tint2
GenericName[sk]=Správca panelov Tint2
GenericName[sl]=Upravljalnik plošč Tint2
GenericName[sv]=Tint2-panelhanterare
GenericName[tr]=Tint2 Panel Yöneticisi
GenericName[ug]=Tint2 تاختا باشقۇرغۇچ
GenericName[uk]=Менеджер панелей Tint2
GenericName[vi]=Trình quản lý bảng Tint2
GenericName[zh_CN]=Tint2 面板管理器
GenericName[zh_TW]=Tint2 面板管理員

Comment=Choose tint2 panels to run in this session.
Comment[ar]=اختر لوحات tint2 التي تريد تشغيلها في هذه الجلسة.
Comment[ast]=Escueyi los paneles de tint2 que quies executar nesta sesión.
Comment[bn]=এই সেশনে চালানোর জন্য tint2 প্যানেল নির্বাচন করুন।
Comment[ca]=Trieu els plafons del tint2 que voleu executar en aquesta sessió.
Comment[cs]=Vyberte panely tint2, které se mají v této relaci spustit.
Comment[da]=Vælg de tint2-paneler, der skal køres i denne session.
Comment[de]=Wählen Sie die tint2-Leisten aus, die in dieser Sitzung ausgeführt werden sollen.
Comment[el]=Επιλέξτε τα πάνελ tint2 που θα εκτελούνται σε αυτήν τη συνεδρία.
Comment[es]=Elija los paneles de tint2 que se ejecutarán en esta sesión.
Comment[et]=Valige selles seansis käivitatavad tint2 paneelid.
Comment[fa]=پنل‌های tint2 را برای اجرا در این نشست انتخاب کنید.
Comment[fi]=Valitse tässä istunnossa suoritettavat tint2-paneelit.
Comment[fr]=Choisissez les panneaux tint2 à exécuter dans cette session.
Comment[gl]=Escolla os paneis de tint2 que se executarán nesta sesión.
Comment[he]=בחרו את לוחות tint2 שיופעלו בהפעלה הנוכחית.
Comment[hr]=Odaberite tint2 panele koji će se pokrenuti u ovoj sesiji.
Comment[hu]=Válassza ki az ebben a munkamenetben futtatandó tint2 paneleket.
Comment[it]=Scegli i pannelli tint2 da eseguire in questa sessione.
Comment[ja]=このセッションで実行する tint2 パネルを選択します。
Comment[ko]=이 세션에서 실행할 tint2 패널을 선택합니다.
Comment[ku]=Panelên tint2 yên ku dê di vê danişînê de bixebitin hilbijêre.
Comment[lt]=Pasirinkite, kuriuos tint2 skydelius paleisti šiame seanse.
Comment[nb]=Velg hvilke tint2-paneler som skal kjøres i denne økten.
Comment[nl]=Kies welke tint2-panelen in deze sessie worden uitgevoerd.
Comment[nn]=Vel kva tint2-panel som skal køyrast i denne økta.
Comment[no]=Velg hvilke tint2-paneler som skal kjøres i denne økten.
Comment[pl]=Wybierz panele tint2, które mają być uruchomione w tej sesji.
Comment[pt]=Escolha os painéis do tint2 a executar nesta sessão.
Comment[pt_BR]=Escolha os painéis do tint2 que serão executados nesta sessão.
Comment[ro]=Alegeți panourile tint2 care vor fi rulate în această sesiune.
Comment[ru]=Выберите панели tint2 для запуска в этом сеансе.
Comment[sk]=Vyberte panely tint2, ktoré sa majú spustiť v tejto relácii.
Comment[sl]=Izberite plošče tint2, ki naj se zaženejo v tej seji.
Comment[sv]=Välj vilka tint2-paneler som ska köras i den här sessionen.
Comment[tr]=Bu oturumda çalıştırılacak tint2 panellerini seçin.
Comment[ug]=بۇ ئەڭگىمەدە ئىجرا قىلىنىدىغان tint2 تاختىلىرىنى تاللاڭ.
Comment[uk]=Виберіть панелі tint2 для запуску в цьому сеансі.
Comment[vi]=Chọn các bảng tint2 sẽ chạy trong phiên này.
Comment[zh_CN]=选择要在此会话中运行的 tint2 面板。
Comment[zh_TW]=選擇要在此工作階段中執行的 tint2 面板。

Exec=bl-tint2-manager
Icon=bunsenlabs
Categories=Settings;DesktopSettings;

Terminal=false
StartupNotify=false

Keywords=tint2;settings;configurations;themes
Keywords[ar]=tint2;إعدادات;تهيئة;سمات
Keywords[ast]=tint2;axustes;configuración;temes
Keywords[ca]=tint2;preferències;configuració;temes
Keywords[cs]=tint2;nastavení;konfigurace;motivy
Keywords[da]=tint2;indstillinger;konfiguration;temaer
Keywords[de]=tint2;Einstellungen;Konfiguration;Designs
Keywords[el]=tint2;ρυθμίσεις;διαμόρφωση;θέματα
Keywords[es]=tint2;ajustes;configuración;temas
Keywords[fi]=tint2;asetukset;kokoonpano;teemat
Keywords[fr]=tint2;paramètres;configuration;thèmes
Keywords[he]=tint2;הגדרות;תצורה;ערכות נושא
Keywords[hr]=tint2;postavke;konfiguracija;teme
Keywords[hu]=tint2;beállítások;konfiguráció;témák
Keywords[it]=tint2;impostazioni;configurazione;temi
Keywords[is]=tint2;stillingar;uppsetning;þemu
Keywords[ja]=tint2;設定;構成;テーマ
Keywords[nb]=tint2;innstillinger;konfigurasjon;temaer
Keywords[nl]=tint2;instellingen;configuratie;thema's
Keywords[pt]=tint2;definições;configuração;temas
Keywords[pt_BR]=tint2;configurações;ajustes;temas
Keywords[ru]=tint2;настройки;конфигурация;темы
Keywords[sk]=tint2;nastavenia;konfigurácia;témy
Keywords[sl]=tint2;nastavitve;konfiguracija;teme
Keywords[tr]=tint2;ayarlar;yapılandırma;temalar
Keywords[uk]=tint2;налаштування;конфігурація;теми
Keywords[vi]=tint2;cài đặt;cấu hình;chủ đề
Keywords[zh_CN]=tint2;设置;配置;主题
Keywords[zh_TW]=tint2;設定;組態;佈景主題

