[Desktop Entry]
Version=1.0
Type=Application

Name=Tint2 Editor
Name[ar]=محرر Tint2
Name[ast]=Editor de Tint2
Name[bn]=Tint2 সম্পাদক
Name[ca]=Editor de Tint2
Name[cs]=Editor Tint2
Name[da]=Tint2-editor
Name[el]=Επεξεργαστής Tint2
Name[es]=Editor de Tint2
Name[et]=Tint2 redaktor
Name[fa]=ویرایشگر Tint2
Name[fi]=Tint2-muokkain
Name[fr]=Éditeur Tint2
Name[gl]=Editor de Tint2
Name[he]=עורך Tint2
Name[hr]=Uređivač Tint2
Name[hu]=Tint2-szerkesztő
Name[it]=Editor di Tint2
Name[ja]=Tint2 エディター
Name[ko]=Tint2 편집기
Name[ku]=Edîtorê Tint2
Name[lt]=„Tint2“ redaktorius
Name[nb]=Tint2-redigerer
Name[nl]=Tint2-editor
Name[nn]=Tint2-redigerar
Name[no]=Tint2-redigerer
Name[pl]=Edytor Tint2
Name[pt]=Editor do Tint2
Name[pt_BR]=Editor do Tint2
Name[ro]=Editor Tint2
Name[ru]=Редактор Tint2
Name[sk]=Editor Tint2
Name[sl]=Urejevalnik Tint2
Name[sv]=Tint2-redigerare
Name[tr]=Tint2 Düzenleyicisi
Name[ug]=Tint2 تەھرىرلىگۈچ
Name[uk]=Редактор Tint2
Name[vi]=Trình chỉnh sửa Tint2
Name[zh_CN]=Tint2 编辑器
Name[zh_TW]=Tint2 編輯器

GenericName=Tint2 Configuration Editor
GenericName[ar]=محرر إعدادات Tint2
GenericName[ast]=Editor de configuración de Tint2
GenericName[bn]=Tint2 কনফিগারেশন সম্পাদক
GenericName[ca]=Editor de configuració de Tint2
GenericName[cs]=Editor konfigurace Tint2
GenericName[da]=Redigering af Tint2-konfiguration
GenericName[el]=Επεξεργαστής ρυθμίσεων Tint2
GenericName[es]=Editor de configuración de Tint2
GenericName[et]=Tint2 seadistuste redaktor
GenericName[fa]=ویرایشگر پیکربندی Tint2
GenericName[fi]=Tint2-asetusten muokkain
GenericName[fr]=Éditeur de configuration Tint2
GenericName[gl]=Editor da configuración de Tint2
GenericName[he]=עורך תצורת Tint2
GenericName[hr]=Uređivač konfiguracije Tint2
GenericName[hu]=Tint2-beállításszerkesztő
GenericName[it]=Editor della configurazione di Tint2
GenericName[ja]=Tint2 設定エディター
GenericName[ko]=Tint2 설정 편집기
GenericName[ku]=Edîtorê veavakirina Tint2
GenericName[lt]=„Tint2“ konfigūracijos redaktorius
GenericName[nb]=Redigering av Tint2-oppsett
GenericName[nl]=Tint2-configuratie-editor
GenericName[nn]=Redigering av Tint2-oppsett
GenericName[no]=Redigering av Tint2-oppsett
GenericName[pl]=Edytor konfiguracji Tint2
GenericName[pt]=Editor de configuração do Tint2
GenericName[pt_BR]=Editor de configuração do Tint2
GenericName[ro]=Editor de configurare Tint2
GenericName[ru]=Редактор конфигурации Tint2
GenericName[sk]=Editor konfigurácie Tint2
GenericName[sl]=Urejevalnik nastavitev Tint2
GenericName[sv]=Tint2-konfigurationsredigerare
GenericName[tr]=Tint2 Yapılandırma Düzenleyicisi
GenericName[ug]=Tint2 سەپلىمە تەھرىرلىگۈچ
GenericName[uk]=Редактор конфігурації Tint2
GenericName[vi]=Trình chỉnh sửa cấu hình Tint2
GenericName[zh_CN]=Tint2 配置编辑器
GenericName[zh_TW]=Tint2 設定編輯器

Comment=Edit selected tint2 config files.
Comment[ar]=تحرير ملفات إعدادات Tint2 المحددة.
Comment[ast]=Editar los ficheros de configuración de Tint2 seleccionaos.
Comment[bn]=নির্বাচিত Tint2 কনফিগারেশন ফাইল সম্পাদনা করুন।
Comment[ca]=Edita els fitxers de configuració de Tint2 seleccionats.
Comment[cs]=Upravte vybrané konfigurační soubory Tint2.
Comment[da]=Rediger de valgte Tint2-konfigurationsfiler.
Comment[de]=Ausgewählte Tint2-Konfigurationsdateien bearbeiten.
Comment[el]=Επεξεργαστείτε τα επιλεγμένα αρχεία ρυθμίσεων του Tint2.
Comment[es]=Edita los archivos de configuración de Tint2 seleccionados.
Comment[et]=Muuda valitud Tint2 seadistusfaile.
Comment[fa]=فایل‌های پیکربندی انتخاب‌شدهٔ Tint2 را ویرایش کنید.
Comment[fi]=Muokkaa valittuja Tint2-asetustiedostoja.
Comment[fr]=Modifier les fichiers de configuration Tint2 sélectionnés.
Comment[gl]=Edita os ficheiros de configuración de Tint2 seleccionados.
Comment[he]=עריכת קובצי התצורה הנבחרים של Tint2.
Comment[hr]=Uredi odabrane konfiguracijske datoteke Tint2.
Comment[hu]=A kiválasztott Tint2-konfigurációs fájlok szerkesztése.
Comment[it]=Modifica i file di configurazione di Tint2 selezionati.
Comment[ja]=選択した Tint2 設定ファイルを編集します。
Comment[ko]=선택한 Tint2 설정 파일을 편집합니다.
Comment[ku]=Pelên veavakirina Tint2 yên hilbijartî sererast bike.
Comment[lt]=Redaguokite pasirinktus „Tint2“ konfigūracijos failus.
Comment[nb]=Rediger valgte Tint2-konfigurasjonsfiler.
Comment[nl]=Bewerk de geselecteerde Tint2-configuratiebestanden.
Comment[nn]=Rediger dei valde Tint2-oppsettfilene.
Comment[no]=Rediger valgte Tint2-konfigurasjonsfiler.
Comment[pl]=Edytuj wybrane pliki konfiguracyjne Tint2.
Comment[pt]=Editar os ficheiros de configuração do Tint2 selecionados.
Comment[pt_BR]=Edite os arquivos de configuração do Tint2 selecionados.
Comment[ro]=Editează fișierele de configurare Tint2 selectate.
Comment[ru]=Редактирование выбранных файлов конфигурации Tint2.
Comment[sk]=Upravte vybrané konfiguračné súbory Tint2.
Comment[sl]=Urejanje izbranih konfiguracijskih datotek Tint2.
Comment[sv]=Redigera valda Tint2-konfigurationsfiler.
Comment[tr]=Seçilen Tint2 yapılandırma dosyalarını düzenleyin.
Comment[ug]=تاللانغان Tint2 سەپلىمە ھۆججەتلىرىنى تەھرىرلەڭ.
Comment[uk]=Редагування вибраних файлів конфігурації Tint2.
Comment[vi]=Chỉnh sửa các tệp cấu hình Tint2 đã chọn.
Comment[zh_CN]=编辑选定的 Tint2 配置文件。
Comment[zh_TW]=編輯選取的 Tint2 設定檔。

Exec=bl-tint2-edit
Icon=bunsenlabs
Categories=Settings;DesktopSettings;

Terminal=false
StartupNotify=false

Keywords=tint2;settings;configurations;themes;
Keywords[ar]=Tint2;إعدادات;تهيئة;سمات;
Keywords[ast]=Tint2;configuración;axustes;temes;
Keywords[ca]=Tint2;configuració;paràmetres;temes;
Keywords[cs]=Tint2;nastavení;konfigurace;motivy;
Keywords[da]=Tint2;indstillinger;konfiguration;temaer;
Keywords[de]=Tint2;Einstellungen;Konfiguration;Designs;
Keywords[el]=Tint2;ρυθμίσεις;διαμόρφωση;θέματα;
Keywords[es]=Tint2;ajustes;configuración;temas;
Keywords[fi]=Tint2;asetukset;määritykset;teemat;
Keywords[fr]=Tint2;paramètres;configuration;thèmes;
Keywords[he]=Tint2;הגדרות;תצורה;ערכות נושא;
Keywords[hr]=Tint2;postavke;konfiguracija;teme;
Keywords[hu]=Tint2;beállítások;konfiguráció;téma;
Keywords[it]=Tint2;impostazioni;configurazione;temi;
Keywords[is]=Tint2;stillingar;uppsetning;þemu;
Keywords[ja]=Tint2;設定;構成;テーマ;
Keywords[nb]=Tint2;innstillinger;konfigurasjon;temaer;
Keywords[nl]=Tint2;instellingen;configuratie;thema's;
Keywords[pt]=Tint2;definições;configuração;temas;
Keywords[pt_BR]=Tint2;configurações;configuração;temas;
Keywords[ru]=Tint2;настройки;конфигурация;темы;
Keywords[sk]=Tint2;nastavenia;konfigurácia;témy;
Keywords[sl]=Tint2;nastavitve;konfiguracija;teme;
Keywords[tr]=Tint2;ayarlar;yapılandırma;temalar;
Keywords[uk]=Tint2;налаштування;конфігурація;теми;
Keywords[vi]=Tint2;cài đặt;cấu hình;chủ đề;
Keywords[zh_CN]=Tint2;设置;配置;主题;
Keywords[zh_TW]=Tint2;設定;組態;佈景主題;

